<div class="list-container">
  <div class="list-header">
    <h2 class="list-title">{{ nomePagina }}</h2>
    <h1> Valor Total: {{ valorTotal | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</h1>
    <div class="header-actions">
      <input
        pInputText
        placeholder="Pesquisar..."
        [(ngModel)]="pesquisar"
        class="search-input"
        (input)="table.filterGlobal(pesquisar, 'contains')"
      />
      <button
        pButton
        icon="pi pi-filter"
        class="advanced-search-button"
        (click)="abrirBuscaAvancada()"
        type="button"
        style="margin-left: 8px;"
      ></button>
    </div>
  </div>

  <p-dialog [(visible)]="mostrarBuscaAvancada" header="Busca Avançada" [modal]="true" [closable]="true" [style]="{ width: '600px' }"
  >
    <div class="advanced-search-content">
      <div class="form-group">
        <label for="conta">Conta:</label>
        <p-dropdown
          id="conta"
          [options]="opcoesConta"
          [(ngModel)]="filtroBuscaAvancada.contaId"
          placeholder="Selecione uma conta"
          [filter]="true"
          filterBy="label"
          [appendTo]="'body'"
        ></p-dropdown>
      </div>

      <div class="form-group">
        <label for="subgrupo">Responsável:</label>
        <p-dropdown
          id="subgrupo"
          [options]="opcoesResponsavel"
          [(ngModel)]="filtroBuscaAvancada.responsavel"
          placeholder="Selecione um responsável"
          [filter]="true"
          filterBy="label"
          [appendTo]="'body'"
        ></p-dropdown>
      </div>

      <div class="form-group">
        <label for="referenciaCobranca">Referencia de Cobrança:</label>
      <p-inputMask
          id="referenciaCobranca"
          mask="99/9999"
          placeholder="MM/AAAA"
          [(ngModel)]="filtroBuscaAvancada.referenciaCobranca"
          ></p-inputMask>
      </div>

      <div class="dialog-footer">
        <button pButton label="Buscar" icon="pi pi-search" (click)="aplicarBuscaAvancada()" class="p-button-primary"></button>
        <button pButton label="Cancelar" icon="pi pi-times" (click)="fecharBuscaAvancada()" class="p-button-secondary"></button>
      </div>
    </div>
  </p-dialog>

  <p-accordion>
    <p-accordionTab header="Resumo por Conta">

      <div class="resumo-grid">
        <p-card
          *ngFor="let resumo of resumoPorResponsavel"
          class="card-resumo-conta"
        >
          <ng-template pTemplate="title">
            {{ resumo.responsavelNome }}
          </ng-template>

          <ng-template pTemplate="content">
            <div class="valor-total">
              {{ resumo.valorTotal | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </div>
          </ng-template>
        </p-card>
      </div>

    </p-accordionTab>
  </p-accordion>

  <br>

  <p-table #table [value]="iteansParcelas" [paginator]="true" [rows]="paginacao.size" [globalFilterFields]="['nome', 'responsavel', 'contaId']">
    <ng-template pTemplate="header">
      <tr class="header-row">
        <th>Conta</th>
        <th>Responsável</th>
        <th>Data de vencimento</th>
        <th>Fornecedor</th>
        <th>Valor</th>
        <th>Parcela Atual</th>
        <th>Total de Parcelas</th>
        <th style="width: 1%;"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.conta.banco.nome + ' - ' + item.conta.responsavel.nome }}</td>
        <td>{{ item.responsavelNome }}</td>
        <td>{{ item.dataVencimento | date:'dd/MM/yyyy' }}</td>
        <td>{{ item.fornecedorNome }}</td>
        <td>{{ item.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
        <td>{{ item.parcelaAtual }}</td>
        <td>{{ item.totalParcelas }}</td>

        <td class="actions-column">
          <p-overlayPanel #op>
            <div class="action-option" (click)="editItem(item)">
              <i class="pi pi-pencil"></i> Editar
            </div>
          </p-overlayPanel>
          <button
            pButton
            icon="pi pi-ellipsis-h"
            class="action-button"
            (click)="op.toggle($event)"
            type="button"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


