<div class="form-container">
  <!-- Botão de abrir/fechar -->
  <button
    pButton
    [icon]="planejamentoAberto ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
    class="toggle-button"
    (click)="togglePlanejamento()"
  ></button>

  <h3>Planejamento de Parcelas</h3>

  <div *ngIf="planejamentoAberto" class="content-container">
    <table class="styled-table full-width">
      <thead>
      <tr>
        <th>Porcentagem de Divisão</th>
        <th>Responsável</th>
        <th>Ações</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let planejamento of planejamentoParcelas">
        <td>{{ planejamento.porcentagemDivisao }}%</td>
        <td>{{ planejamento.responsavelNome }}</td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-text"
            (click)="editarParcela(planejamento)"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="removerParcela(planejamento)"
          ></button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Rodapé do planejamento -->
    <div class="planejamento-footer">
      <!-- Ação secundária -->
      <button
        pButton
        label="Incluir"
        icon="pi pi-plus"
        class="p-button-text"
        (click)="abrirModal()"
      ></button>

      <!-- Ação principal -->
      <button
        pButton
        label="Gerar Parcelas"
        icon="pi pi-refresh"
        class="p-button-success"
        (click)="gerarParcelas()"
        [disabled]="planejamentoParcelas.length === 0"
      ></button>
    </div>
  </div>
</div>


  <p-dialog
    header="Adicionar Nova Parcela"
    [(visible)]="modalVisivel"
    [modal]="true"
    [closable]="true"
    (onHide)="fecharModal()"
  >
    <form [formGroup]="formulario">
      <div class="form-group">
        <label for="porcentagemDivisao">Porcentagem de Divisão:</label>
        <p-inputNumber
          formControlName="porcentagemDivisao"
          inputId="percent"
          [max]="100"
          [min]="0"
          suffix="%"
          mode="decimal"
        ></p-inputNumber>
      </div>

      <div class="form-group">
        <label for="responsavel">Responsável:</label>
        <p-dropdown
          id="responsavel"
          [options]="opcoesResponsavel"
          formControlName="responsavelId"
          placeholder="Selecione o responsável"
          [filter]="true"
          [appendTo]="'body'"
          filterBy="label"
          (onChange)="atualizaNomeResponsavel($event)"
        >
        </p-dropdown>
      </div>
    </form>
    <p-footer>
      <button
        pButton
        label="Salvar"
        icon="pi pi-check"
        (click)="adicionarParcela()"
      ></button>
      <button
        pButton
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="fecharModal()"
      ></button>
    </p-footer>
  </p-dialog>

  <p-messages [(value)]="notificacao" [enableService]="false"></p-messages>

