.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #333; /* Fundo escuro para a tabela */
  color: #f0f0f0; /* Texto claro */
}

.styled-table th,
.styled-table td {
  border: 1px solid #555; /* Borda mais clara para contraste */
  padding: 8px;
  text-align: left;
}

.styled-table th {
  background-color: #444; /* Fundo ligeiramente mais claro para o cabeçalho */
  color: #ffffff; /* Texto branco */
  font-weight: bold;
}

.styled-table td {
  background-color: #333; /* Mesma cor do fundo da tabela para uniformidade */
}

button[pButton] {
  margin-top: 10px;
  background-color: #444; /* Fundo do botão em cor escura */
  color: #ffffff; /* Texto branco no botão */
  border: none;
}

button[pButton]:hover {
  background-color: #555; /* Alteração de cor ao passar o mouse */
}
