:host ::ng-deep .p-megamenu {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 1rem;
}

:host ::ng-deep .p-megamenu-root-list {
  flex-grow: 1;
}

:host ::ng-deep .p-megamenu-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.logout-btn {
  margin-left: auto;
}
