<div class="page-container">
  <div class="page-header">
    <h1>Patrimônio</h1>
    <div class="actions">
      <button class="new-account-button" pButton label="Novo Patrimônio" icon="pi pi-plus" (click)="navegarNovoFormulario()"></button>
      <button
        pButton
        label="Atualizar Criptos"
        icon="pi pi-refresh"
        (click)="atualizarCriptos()"
        [disabled]="!podeAtualizarCriptos"
        pTooltip="{{ tooltipAtualizarCriptos }}"
        tooltipPosition="bottom"
      ></button>
      <span
        pTooltip="{{ tooltipAtualizarCriptos }}"
        tooltipPosition="bottom"
      ></span>
    </div>
  </div>

  <div class="total-resumo">
    <div class="total-label">Total de Ativos</div>
    <div class="total-valor">
      {{ totalPatrimonio | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
    </div>
  </div>

  <div class="patrimonio-cards">
    <div
      class="patrimonio-card" [class.cripto]="item.tipo.includes('CRIPTO')"
      *ngFor="let item of itensPatrimonio"
      [class.selected]="item.id === patrimonioSelecionado?.id"
      (click)="selecionarPatrimonio(item)"
    >
      <div class="card-title">
        {{ item.conta.banco.nome }} - {{ item.tipo }}
        {{ item.moeda ? ' - ' + item.moeda : item.descricao ? ' - ' + item.descricao : '' }}
      </div>

      <div class="card-valor">
        {{ item.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
      </div>

      <div
        class="cripto-info"
        *ngIf="item.tipo.includes('CRIPTO')"
      >
        <div class="cripto-quantidade">
          {{ item.quantidadeMoeda | number:'1.0-8':'pt-BR' }}
        </div>

        <div class="cripto-unitario">
          {{ item.valorMoeda | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        </div>
      </div>

<!--      <div class="card-actions">-->
<!--        <button pButton icon="pi pi-plus" class="p-button-text" (click)="transacaoLista.navegarNovoFormulario()"></button>-->
<!--      </div>-->
    </div>
  </div>

  <app-transacao-lista
    #transacaoLista
    [patrimonioId]="patrimonioSelecionado?.id"
  ></app-transacao-lista>

</div>
