<div class="page-container">
  <div class="page-header">
    <h1>Patrimônio</h1>
    <div class="actions">
      <button class="new-account-button" pButton label="Novo Patrimônio" icon="pi pi-plus"
              (click)="navegarNovoFormulario()"></button>
      <button
        pButton
        label="Atualizar Criptos"
        icon="pi pi-refresh"
        (click)="atualizarCriptos()"
        [disabled]="!podeAtualizarCriptos"
        pTooltip="{{ tooltipAtualizarCriptos }}"
        tooltipPosition="bottom"
      ></button>
      <span
        pTooltip="{{ tooltipAtualizarCriptos }}"
        tooltipPosition="bottom"
      ></span>
    </div>
  </div>

  <div class="total-resumo">
    <div class="total-label">Total de Ativos</div>
    <div class="total-valor">
      {{ totalPatrimonio | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
    </div>
  </div>

  <div class="patrimonio-cards">

    <div
      class="banco-card"
      *ngFor="let banco of patrimoniosPorBanco"
    >
      <div class="banco-header" (click)="banco.expandido = !banco.expandido">
        <div class="banco-nome">{{ banco.bancoNome }}</div>
        <div class="banco-total">
          {{ banco.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        </div>
      </div>

      <div class="banco-body" *ngIf="banco.expandido">

        <div
          class="patrimonio-item"
          [class.cripto]="item.tipo.includes('CRIPTO')"
          *ngFor="let item of banco.patrimonios"
          (click)="selecionarPatrimonio(item); $event.stopPropagation()"
          [class.selected]="item.id === patrimonioSelecionado?.id"
        >
          <div class="item-titulo">
            {{ item.tipo }}
            {{ item.moeda ? ' - ' + item.moeda : item.descricao ? ' - ' + item.descricao : '' }}
          </div>

          <div class="item-valor">
            {{ item.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </div>

          <div class="cripto-info" *ngIf="item.tipo.includes('CRIPTO')">
            <div>{{ item.quantidadeMoeda | number:'1.0-8':'pt-BR' }}</div>
            <div>{{ item.valorMoeda | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div>
          </div>

        </div>

      </div>
    </div>

  </div>


  <app-transacao-lista
    #transacaoLista
    [patrimonioId]="patrimonioSelecionado?.id"
  ></app-transacao-lista>

</div>
