<div class="form-container" [formGroup]="formulario">
  <div class="header">
    <h2 class="form-title">{{ nomePagina }}</h2>
    <div class="button-group">
      <button
        pButton
        label="Salvar"
        icon="pi pi-check"
        (click)="salvar()"
        class="p-button-primary"
      ></button>
      <button
        pButton
        label="Cancelar"
        icon="pi pi-times"
        (click)="cancelar()"
        class="p-button-secondary"
      ></button>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="dataLancamento">Data de Lançamento:</label>
      <input
        id="dataLancamento"
        type="date"
        pInputText
        formControlName="dataLancamento"
      />
    </div>

    <div class="form-group">
      <label for="conta">Conta:</label>
      <p-dropdown
        id="conta"
        [options]="opcoesConta"
        formControlName="contaId"
        placeholder="Selecione uma conta"
        [filter]="true"
        filterBy="label"
        [appendTo]="'body'"
      ></p-dropdown>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="fornecedor">Fornecedor:</label>
      <p-dropdown
        id="fornecedor"
        [options]="opcoesFornecedor"
        formControlName="fornecedorId"
        placeholder="Selecione um fornecedor"
        [filter]="true"
        filterBy="label"
        [appendTo]="'body'"
        (onChange)="alteraFornecedor($event)"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label for="subgrupo">Subgrupo:</label>
      <p-dropdown
        id="subgrupo"
        [options]="opcoesSubgrupo"
        formControlName="subgrupoId"
        placeholder="Selecione um subgrupo"
        [filter]="true"
        filterBy="label"
        [appendTo]="'body'"
      ></p-dropdown>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="numeroParcelas">Número de Parcelas:</label>
      <p-inputNumber
      inputId="integeronly"
      formControlName="numeroParcelas"
      placeholder="Digite o número de parcelas"
      [min]="1"
       />
    </div>

    <div class="form-group">
      <label for="referenciaCobranca">Referencia de Cobrança:</label>
      <p-inputMask
        id="referenciaCobranca"
        mask="99/9999"
        placeholder="MM/AAAA"
        formControlName="referenciaCobranca"
      ></p-inputMask>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="valorTotal">Valor Total: R$</label>
      <p-inputNumber
        formControlName="valorTotal"
        inputId="currency-br"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        [min]="0"
        placeholder="Digite o valor total"
      >
      </p-inputNumber>
    </div>
  </div>
</div>

<app-planejamento-parcelas-component
  [planejamentoAberto]="planejamentoAberto"
  (parcelasChange)="atualizarPlanejamentoParcelas($event)"
>
  >
</app-planejamento-parcelas-component>

<app-parcela-component
  [parcelas]="parcelas"
  (editar)="onEditarParcela($event)"
  (remover)="onRemoverParcela($event)"
>
</app-parcela-component>

<p-messages [(value)]="notificacao" [enableService]="false"></p-messages>
