@import "primeng/resources/themes/arya-blue/theme.css";
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

.list-container {
  padding: 1rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.list-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-input {
  width: 200px;
}

.actions-column {
  text-align: right;
  padding-right: 0.5rem;
}

.action-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.2rem;
  color: #666;
}

.action-button:hover {
  color: #000;
}

::ng-deep .p-overlaypanel {
  padding: 0.5rem;
}

.action-option {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-option i {
  margin-right: 0.5rem;
}

.action-option:hover {
  background-color: #000000;
}

.new-account-button {
  margin-right: 1rem;
  background-color: #74af4c;
  color: white;
  font-weight: bold;
}

.refresh-button {
  margin-right: 1rem;
  background-color: #5f73e5;
  color: white;
  font-weight: bold;
}

.header-row {
  background-color: #333333;
  color: #ffffff7e;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #74af4c;
}

.header-row th:last-child {
  border-right: none;
}

.advanced-search-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.form-group label {
  font-weight: bold;
  width: 150px;
  text-align: right;
}

.form-group input {
  flex: 1;
  padding: 0.5rem;
  box-sizing: border-box;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

// FORMULARIO

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90%;
  max-height: 90vh;
  margin: 2% auto;
  padding: 1.5rem;
  background-color: #2c2c2c;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

.form-group {

}

.form-group label {
  flex: 0 0 120px;
  font-weight: bold;
  color: #dddddd;
}

.form-group input,
.form-group p-dropdown {
  flex: 1;
  min-width: 200px;
  background-color: #3a3a3a;
  color: #f0f0f0;
  border: 1px solid #555;
  padding: 0.5rem;
  border-radius: 4px;
}

.form-group input:focus,
.form-group p-dropdown:focus {
  border-color: #888;
  outline: none;
}

.form-row {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ui-dropdown-panel {
  z-index: 1051;
}


.resumo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 16px 0;
}

.card-resumo-conta {
  cursor: pointer;
  background: linear-gradient(145deg, #1e1e1e, #252525);
  border-radius: 14px;
  padding: 16px;
  min-height: 140px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
  transition: all 0.25s ease;
  border: 1px solid #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-resumo-conta:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.6);
}

.card-resumo-conta.selecionado {
  border: 1px solid #4ade80;
  box-shadow: 0 0 0 1px rgba(74, 222, 128, 0.6),
  0 10px 24px rgba(0, 0, 0, 0.7);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-icon {
  font-size: 1.4rem;
  color: #60a5fa;
  opacity: 0.9;
}

.card-title {
  font-size: 0.95rem;
  font-weight: 600;
  color: #e5e7eb;
  line-height: 1.2;
}

.valor-total {
  font-size: 1.6rem;
  font-weight: 700;
  color: #4ade80;
  margin-top: 12px;
}

.card-subtitle {
  font-size: 0.75rem;
  color: #9ca3af;
  opacity: 0.85;
}
