<div class="form-container" [formGroup]="formulario">
  <div class="header">
    <h2 class="form-title">{{ nomePagina }}</h2>
    <div class="button-group">
      <button pButton label="Salvar" icon="pi pi-check" (click)="salvar()" class="p-button-primary"></button>
      <button pButton label="Cancelar" icon="pi pi-times" (click)="cancelar()" class="p-button-secondary"></button>
    </div>
  </div>

  <!-- Grupo 1: Nome e Grupo na mesma linha -->
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input id="nome" type="text" pInputText placeholder="Digite o nome" formControlName="nome" />

    <label for="grupo">Grupo:</label>
    <p-dropdown id="grupo" [options]="opcoesGrupo" formControlName="grupoId" placeholder="Selecione o grupo"></p-dropdown>
  </div>
</div>

<p-messages [(value)]="notificacao" [enableService]="false"></p-messages>
